# SPDX-FileCopyrightText: Copyright 2012 Aldo Armiento (aldo.armiento@gmail.com)
# SPDX-FileCopyrightText: Copyright 2021 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
.DS_Store
entrust_root_certification_authority.pem
server_certificates_bundle_invalid.pem
server_certificates_bundle_sandbox.pem
server_certificates_bundle_unreadable.pem
UniversalPushNotificationClientSSLCertificate.p8
*~
# Composer
composer.lock
vendor
# ignore test results
logs
