<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         forceCoversAnnotation="true"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="Base">
            <file>ApnsPHP/Tests/MessageAddRecipientTest.php</file>
            <file>ApnsPHP/Tests/MessageSelfForRecipientTest.php</file>
            <file>ApnsPHP/Tests/MessageGetPayloadDictionaryTest.php</file>
            <file>ApnsPHP/Tests/MessageGetPayloadTest.php</file>
            <file>ApnsPHP/Tests/PushGetTest.php</file>
            <file>ApnsPHP/Tests/PushSetTest.php</file>
            <file>ApnsPHP/Tests/PushDisconnectTest.php</file>
            <file>ApnsPHP/Tests/PushHttpInitTest.php</file>
            <file>ApnsPHP/Tests/PushConnectTest.php</file>
            <file>ApnsPHP/Tests/PushAddTest.php</file>
            <file>ApnsPHP/Tests/PushSendTest.php</file>
            <file>ApnsPHP/Tests/PushHttpSendTest.php</file>
            <file>ApnsPHP/Tests/PushUpdateQueueTest.php</file>
            <file>ApnsPHP/Tests/PushRemoveMessageFromQueueTest.php</file>
            <file>ApnsPHP/Tests/PushInvalidTest.php</file>
        </testsuite>
        <testsuite name="Message">
            <file>ApnsPHP/Message/Tests/CustomMessageTest.php</file>
            <file>ApnsPHP/Message/Tests/CustomMessageGetPayloadDictionaryTest.php</file>
            <file>ApnsPHP/Message/Tests/SafariMessageTest.php</file>
            <file>ApnsPHP/Message/Tests/SafariMessageGetPayloadDictionaryTest.php</file>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="logs/junit.xml"/>
    </logging>

    <coverage>
        <include>
            <directory>ApnsPHP/</directory>
        </include>

        <exclude>
            <directory>ApnsPHP/Tests</directory>
            <directory>ApnsPHP/Message/Tests</directory>
        </exclude>

        <report>
            <clover outputFile="logs/clover.xml"/>
            <html outputDirectory="logs/coverage" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
</phpunit>
