<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: Copyright 2011 M2mobi B.V., Amsterdam, The Netherlands -->
<!-- SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands -->
<!-- SPDX-License-Identifier: CC0-1.0 -->

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         forceCoversAnnotation="true"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="Base">
            <directory>ApnsPHP/Tests/</directory>
        </testsuite>
        <testsuite name="Message">
            <directory>ApnsPHP/Message/Tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="logs/junit.xml"/>
    </logging>

    <coverage>
        <include>
            <directory>ApnsPHP/</directory>
        </include>

        <exclude>
            <directory>ApnsPHP/Tests</directory>
            <directory>ApnsPHP/Message/Tests</directory>
        </exclude>

        <report>
            <clover outputFile="logs/clover.xml"/>
            <html outputDirectory="logs/coverage" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
</phpunit>
